{% extends 'login_base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container py-5">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="card-header col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <img src="{% static 'img/AG_German_Institute.png' %}" alt="" style="width: 100%;"><br>
                        <form method="POST" action="" class="w-100">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-envelope-fill"></i>
                                    </span>
                                </div>
                                <input type="email" name="email" placeholder="Email..." class="form-control" required>
                            </div>

                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                                </div>
                                <input type="password" name="password" placeholder="Password..." class="form-control">
                            </div>

                            <div class="d-flex justify-content-center mt-3 login_container">
                                <button class="btn login_btn" type="submit">Login</button>
                            </div>
                        </form>
                        <br>


                    <!-- password reset page -->
                    <div class="d-flex justify-content-center links">
                        <p>
                            Forgot your password? <a href="{% url 'password_reset_request' %}">Reset it here</a>
                        </p>
                    </div>

                    </div>

                    <div class="mt-4 w-100">
                        <div class="d-flex justify-content-center links">
                            {% for message in messages %}
                            <p id="messages">{{message}}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            <p>

                            Contact the administrator in case any resource is not available.<br>

                            </p>

                        </div>
                        <div class="d-flex justify-content-center links">
                            <p>
                         For Teachers' Login <a href="{% url 'teacher-login' %}">Click here </a>
                        </p>
                        </div>
                        <br>
                    </div>

                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->
{% endblock %}